@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/rubik/Rubik-VariableFont_wght.ttf') format('woff'),
    url('/fonts/rubik/Rubik-Italic-VariableFont_wght.ttf') format('woff2'),
         ;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/rubik/Rubik-Black.ttf') format('woff'),
         ;
    font-weight: 900;
    font-style: normal;
  }